@import 'form';

.base {
    position: relative;
    width: 100%;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background:$blue;
        opacity: 0.8;
        z-index: 1;
    }
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 2;
        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
    &__form {
        width: 100%;
        min-height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 768px) {
            padding-right: 45px;
            width: 50%;
            min-height: 600px;
            justify-content: flex-end;
        }
    }

    &__descr {
        width: 100%;
        min-height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 768px) {
            padding-left: 45px;
            width: 50%;
            min-height: 400px;
        }

        @media (min-width: 1400px) {
            padding-top: 155px;
            justify-content: start;
        }
    }

    &__title {
        margin: 0;
        font-family: $ff-1;
        font-size: 40px;
        line-height: $base-t-lh;
        font-weight: $base-t-fw;
        text-transform: uppercase;
        color: $base-title-color;
        text-align: center;

        @media (min-width:768px) {
            font-size: $base-t-fs-s;
            text-align: left;
        }

        @media (min-width: 992px) {
            font-size: $base-t-fs-b;
        }
    }

    &__text {
        font-family: $ff-2;
        font-size: $base-d-fs;
        line-height: $base-d-lh;
        font-weight: $base-d-fw;
        color: $base-text-color;
        text-align: center;

        @media (min-width:768px) {
            text-align: left;
            margin-top: 51px;
        }

        @media (min-width:1400px) {
            margin-top: 26px;
        }
    }
}


