@import 'form';

.base {
    width: 100%;
    min-height: 600px;
    &__wrapper {
        display: flex;
    }
    &__form {
        padding-right: 45px;
        width: 50%;
        min-height: 600px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__descr {
        padding-left: 45px;
        width: 50%;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        margin: 0;
        font-family: $ff-1;
        font-size: $base-t-fs;
        line-height: $base-t-lh;
        font-weight: $base-t-fw;
        text-transform: uppercase;
        color: $base-title-color;
    }

    &__text {
        margin-top: 51px;
        font-family: $ff-2;
        font-size: $base-d-fs;
        line-height: $base-d-lh;
        font-weight: $base-d-fw;
        color: $base-text-color;
    }
}


