.footer__wrapper {
    padding-top: 20px;
    padding-bottom: 104px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 768px) {
        padding-top: 100px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.block {
    width: 100%;

    @media (min-width: 768px) {
        width: 50%;
    }
    &__header {
        font-family: 'Open Sans';
        font-size: $block-h-fs;
        line-height: $block-h-lh;
        font-weight: $block-h-fw;
        text-transform: $block-h-tt;
        color: $block-header-color; 
    }

    &__descr {
        width: 100%;
        margin-top: 21px;
        padding-bottom: 20px;
        text-align: justify;
        font-family: 'Open Sans';
        font-size: $block-d-fs;
        line-height: $block-d-lh;
        font-weight: $block-d-fw;
        color: $block-header-color;

        @media (min-width: 768px) {
            margin-top: 61px;
            width: 80%;
        }
    }
    &__links {
        padding-top: 30px;
        display: flex;

        @media (min-width: 768px) {
            padding-top: 71px;
        }
    }

    &__link {
        margin-right: 17px;
        text-decoration: none;
        border-radius: 100%;
        transition: all .5s;
        &:hover {
            box-shadow: 0 0 20px $white;
        }
    }
}
.block:nth-child(2) {
    display: none;
}
.block:nth-child(3) {
    display: none;
}

@media (min-width: 425px) {
    .block:nth-child(2) {
        display: block;
    }
    .block:nth-child(3) {
        display: block;
    }
}
.contacts {
    margin-top: 21px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: 768px) {
        margin-top: 61px;
    }
    &__item {
        width: 50%;
        display: flex;
        padding-bottom: 20px;
    }
    &__logo {
        padding-right: 20px;
    }
    &__descr {
        text-align: left;
        font-family: 'Open Sans';
        font-size: $block-d-fs;
        line-height: $block-d-lh;
        font-weight: $block-d-fw;
        color: $block-header-color;
    }
}

.rights {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width:425px) {
        height: 100px;
    }
    &__descr {
        display: none;
        font-family: 'Myriad Pro';
        font-size: $rights-fs;
        line-height: $rights-lh;
        font-weight: $rights-fw;
        color: $rights-color;

        @media (min-width:425px) {
            display: block;
        }
    }
}

span {
    color: $footer-span;
    font-size: 20px;
}

.descr-link {
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: $block-d-fs;
    line-height: $block-d-lh;
    font-weight: $block-d-fw;
    color: $block-header-color;
}