/* header {
    overflow: hidden;
} */

@import 'burger';

.header__wrapper {
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    &__list {
        @extend %listreset;
        display: flex;
        flex-direction: column;
        position: absolute;
        background: $block-header-color;
        width: 321px;
        top: 100%;
        right: 0;
        transform: translateX(120%);
        transition: transform 1s;
        z-index: 4;

        @media (min-width: 768px) {
            position: relative;
            width: auto;
            flex-direction: row;
            transform: translateX(0);
        }
    }
    &__item {
        margin: 0 auto;
        padding-bottom: 10px;

        @media (min-width: 768px) {
            padding-right: 26px;
            padding-bottom: 0px;
        }
    }

    &__item:last-of-type {
        padding-right: 0px;
    }

    &__link {
        position: relative;
        text-decoration: none;
        font-family: 'Open Sans';
        font-size: $link-fs;
        line-height: $link-lh;
        font-weight: $link-fw;
        color: $a-color;
        &:hover {
            color: $a-color-hover;
        }
        &:after {
            content: "";
            position: absolute;
            display: block;
            border-bottom: 2px solid $a-color-hover;
            width: 0;
            bottom: -5px;
            left: 50%;
        }
        &:hover:after {
            width: 100%;
            left: 0;
            transition: all .3s linear;
        }
    }
}

