.title-1 {
    font-family: $ff-1;
    font-size: $title-1-fs;
    line-height: $title-1-lh;
    font-weight: $title-1-fw;
    text-transform: uppercase;
    color: $title-1-color;
}

.descr-1 {
    font-family: $ff-2;
    font-size: $descr-1-fs;
    line-height: $descr-1-lh;
    font-weight: $descr-1-fw;
    color: $descr-1-color;
}