//colors
$a-color: #555555;
$a-color-hover: #5363db;
$block-header-color: #ffffff;
$rights-color: #b7bffc;;


//fonts 
//header link
$link-fs: 14px;
$link-lh: 1.2;
$link-fw: 600;

//footer block
//header
$block-h-fs: 18px;
$block-h-lh: 22px;
$block-h-fw: 700;
$block-h-tt: uppercase;

//descr 
$block-d-fs: 14px;
$block-d-lh: 22px;
$block-d-fw: 400;

//footer rights
$rights-fs: 16px;
$rights-lh: 22px;
$rights-fw: 400;